$color-font-primary: #181818;

$color-bg-primary: #272727;
$color-bg-secondary: #ffffff;
$color-bg-tertiary: #1c2741;

$color-accent: #ffc700;

$color-disabled: #dadada;
$color-progress: #3bde7c;
$color-toggle: #2950c2;
$color-call: #eb1b00;
