$color-font-primary: #181818;
$color-font-secondary: #0d0c11;
$color-font-disabled: #8e8e8e;

$color-bg-primary: #272727;
$color-bg-secondary: #ffffff;
$color-bg-tertiary: #1c2741;
$color-bg-quaternary: #f3f3f2;
$color-bg-disabled: #dadada;

$color-accent: #ffc700;
$color-progress: #3bde7c;
$color-toggle: #2950c2;
$color-call: #eb1b00;
$color-nav: #696969;

$vp-desktop: 1280px;
$vp-laptop: 1024px;
$vp-tablet: 768px;
