@use "@/assets/scss/variables.scss" as *;
@use "@/assets/scss/mixins.scss" as *;

.home-footer {
  @include main-bg;

  padding: 3.25rem 0 0.1875rem;

  overflow: hidden;

  &__lightning {
    position: absolute;
    top: 5.375rem;
    right: 0;

    width: 5.875rem;

    z-index: -1;

    &--left {
      top: 19.625rem;
      right: auto;
      left: 0;

      width: 4.5rem;
    }
  }

  &__content {
    font-family: "Merriweather";
    font-size: 0.9375rem;
    line-height: 1.25rem;
    color: $color-bg-secondary;
    letter-spacing: 0.05em;

    margin: 0;
    padding-right: 1rem;

    & span {
      color: $color-accent;
      font-weight: 900;
    }
  }

  &__card {
    font-family: "Merriweather";
    line-height: 1.4375rem;
    letter-spacing: 0.05em;

    margin: 1.375rem 0 2.0625rem;
    padding: 1.875rem 0.625rem 1.5rem;

    background-color: fade-out($color-bg-quaternary, 0.2);
    border-radius: 1.25rem;
  }

  &__button {
    color: $color-bg-secondary;

    background-color: transparent;
    border-color: $color-bg-secondary;
  }

  &__copyright {
    font-family: "Roboto";
    font-size: 0.625rem;
    color: $color-bg-secondary;
    text-align: center;
    letter-spacing: 0.05em;

    margin-top: 3.625rem;

    opacity: 0.5;

    & svg {
      position: relative;
      top: 2px;

      width: 0.625rem;
      height: 0.625rem;
    }
  }
}
