@use "@/assets/scss/variables.scss" as *;
@use "@/assets/scss/mixins.scss" as *;

.task-item {
  position: relative;

  & input {
    position: absolute;

    z-index: -1;
    opacity: 0;
  }

  & label {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    position: relative;

    font-family: "PT Serif";
    font-size: 1.125rem;
    color: $color-bg-secondary;

    width: 100%;
    min-height: 50px;

    padding: 0.5625rem 0;
    padding-left: 94px;

    &::before {
      content: "";

      position: absolute;
      top: 50%;
      left: 2.1875rem;

      transform: translateY(-50%);

      width: 1.25rem;
      height: 1.25rem;

      background-color: transparent;
      border: 0.0625rem solid $color-bg-secondary;
      border-radius: 50%;
    }
  }

  margin-bottom: 0.5rem;

  background-color: fade-out(#f2f3f3, 0.85);

  & input:checked + label {
    color: $color-bg-primary;

    background-color: $color-accent;

    &::before {
      background-color: $color-toggle;
      border-color: $color-bg-primary;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
