@use "@/assets/scss/variables.scss" as *;
@use "@/assets/scss/mixins.scss" as *;

.task {
  position: relative;

  height: 100vh;

  padding: 0 0 5.375rem; //2.875rem

  &__form {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-family: "PT Serif";
    font-size: 1.25rem;
    line-height: 1.65625rem;
    letter-spacing: 0.05em;
    color: $color-bg-secondary;

    margin-bottom: 50px;
  }

  &__answers {
    width: 100%;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  & .button {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
